################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GlamourManager/FileContentIndex/db78cdb4-d03f-43af-bada-6055868eeaa1.vsidx
/.vs/GlamourManager/FileContentIndex/79b0ec27-37b9-4ef2-8ba1-9add87980804.vsidx
/.vs/GlamourManager/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/.vs/GlamourManager/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/.vs/GlamourManager/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/.vs/GlamourManager/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
